<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>告警消息邮件模板</title>
</head>
<body>
	<div style='color: green;' >
		<h3>2021-10-28全天告警信息统计：（具体消息内容请下载Excel附件查看）</h3>
		<table cellpadding='5' width='100%' border='1px' style='border-collapse: collapse; text-align: center; font-family: 宋体;'>
			<thead bgcolor='#328aa4' style='color: aliceblue;' >
			<tr>
				<th>汇总信息</th>
				<th>严重告警</th>
				<th>普通告警</th>
				<th>普通消息</th>
				<th>调试消息</th>
				<th>追踪消息</th>
				<th>其他消息</th>
				<th>总计</th>
			</tr>
			</thead>
			<tbody bgcolor='#f8fbfc'>
			<tr>
				<th>线上环境</th>
				<th style='color: red'>10</th>
				<th>100</th>
				<th>1000</th>
				<th>10000</th>
				<th>100000</th>
				<th>0</th>
				<th>111110</th>
			</tr>
			<tr>
				<th>稳定沙箱环境</th>
				<th style='color: red'>10</th>
				<th>100</th>
				<th>1000</th>
				<th>10000</th>
				<th>100000</th>
				<th>0</th>
				<th>111110</th>
			</tr>
			<tr>
				<th>沙箱环境</th>
				<th style='color: red'>10</th>
				<th>100</th>
				<th>1000</th>
				<th>10000</th>
				<th>100000</th>
				<th>0</th>
				<th>111110</th>
			</tr>
			<tr>
				<th>稳定测试环境</th>
				<th style='color: red'>10</th>
				<th>100</th>
				<th>1000</th>
				<th>10000</th>
				<th>100000</th>
				<th>0</th>
				<th>111110</th>
			</tr>
			<tr>
				<th>测试环境</th>
				<th style='color: red'>10</th>
				<th>100</th>
				<th>1000</th>
				<th>10000</th>
				<th>100000</th>
				<th>0</th>
				<th>111110</th>
			</tr>
			<tr>
				<th>开发环境</th>
				<th style='color: red'>10</th>
				<th>100</th>
				<th>1000</th>
				<th>10000</th>
				<th>100000</th>
				<th>0</th>
				<th>111110</th>
			</tr>
			<tr>
				<th>其他</th>
				<th style='color: red'>10</th>
				<th>100</th>
				<th>1000</th>
				<th>10000</th>
				<th>100000</th>
				<th>0</th>
				<th>111110</th>
			</tr>
			</tbody>
			<tfoot bgcolor='#e5f1f4'>
			<tr>
				<th>总计</th>
				<th style='color: red'>70</th>
				<th>700</th>
				<th>7000</th>
				<th>70000</th>
				<th>700000</th>
				<th>0</th>
				<th>777770</th>
			</tr>
			</tfoot>
		</table>
	</div>
	<br><br>
	<hr>
	<div style='color: green'>
		<h4 style='color: indianred'>线上严重告警：</h4>
		<table border='1' style='border-collapse: collapse; color: indianred; text-align: center; font-family: 宋体;'>
			<thead>
			<tr>
				<th>编号</th>
				<th>环境</th>
				<th>等级</th>
				<th>所属单据</th>
				<th>消息标题</th>
				<th>消息内容</th>
				<th>创建时间</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th>1</th>
				<th>测试环境</th>
				<th>严重告警</th>
				<th>出库商品</th>
				<th>出库商品质检码更新失败</th>
				<th>出库商品（编号：202110291550340001），调用oms数据库，补全质检码失败</th>
				<th>2021-10-29 15:49:11</th>
			</tr>
			<tr>
				<th>1</th>
				<th>测试环境</th>
				<th>普通告警</th>
				<th>出库商品</th>
				<th>出库商品质检码更新失败</th>
				<th>出库商品（编号：202110291550340001），调用oms数据库，补全质检码失败</th>
				<th>2021-10-29 15:49:11</th>
			</tr>
			<tr>
				<th>1</th>
				<th>测试环境</th>
				<th>普通消息</th>
				<th>出库商品</th>
				<th>出库商品质检码更新失败</th>
				<th>出库商品（编号：202110291550340001），调用oms数据库，补全质检码失败</th>
				<th>2021-10-29 15:49:11</th>
			</tr>
			<tr>
				<th>1</th>
				<th>测试环境</th>
				<th>调试消息</th>
				<th>出库商品</th>
				<th>出库商品质检码更新失败</th>
				<th>出库商品（编号：202110291550340001），调用oms数据库，补全质检码失败</th>
				<th>2021-10-29 15:49:11</th>
			</tr>
			<tr>
				<th>1</th>
				<th>测试环境</th>
				<th>追踪消息</th>
				<th>出库商品</th>
				<th>出库商品质检码更新失败</th>
				<th>出库商品（编号：202110291550340001），调用oms数据库，补全质检码失败</th>
				<th>2021-10-29 15:49:11</th>
			</tr>
			</tbody>
			<tfoot>
			</tfoot>
		</table>
	</div>
	<br>
	<hr>
	<div>
		<h4>邮件签名：</h4>
		<pre>
			财务中心 FinancialCenter
		</pre>
	</div>
</body>
</html>
