<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Thymeleaf 模板邮件</title>
</head>
<body>
	<div style="color: rebeccapurple">
		<h2>Thymeleaf 模板邮件</h2>
	</div>
	<hr>
	<div style="color: green">
		<h4>邮件信息：</h4>
		<table border="1" style="color: darkgoldenrod; text-align: center">
			<thead>
			<tr>
				<th>name</th>
				<th>content</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td th:text="${name}"></td>
				<td th:text="${content}"></td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td>just table foot</td>
				<td>nothing else</td>
			</tr>
			</tfoot>
		</table>
	</div>
	<hr>
	<div style="color: crimson">
		<h4>注册邮箱：</h4>
		<form action="">
			<label for="name">请输入用户名：</label>
			<input type="text" id="name" placeholder="用户名"><br>
			<label for="password">请输入密码：</label>
			<input type="password" id="password" placeholder="密码"><br>
			<input type="submit" value="提交"/>
		</form>
	</div>
	<br><hr>
	<div>
		<h4>邮件签名：</h4>
		<pre>
			韩斌伟 Han Bin Wei
			北京软件中心 Java开发工程师
			艾融软件股份有限公司
			i2Finance Software CO.,LTD.
			股票代码：830799

			Mobile：13752330376
			E-mail: hanbw@i2finance.net
			网址：http://www.i2finance.net
			地址：上海市浦东新区民生路1199弄1号楼5层（上海）
			      北京市海淀区农大南路1号硅谷亮城5号楼5层（北京）
				  广州市天河区天河路621号天娱广场西塔10层（广州）
		</pre>
	</div>
</body>
</html>
